<div class="list-wrapper">

  <article class="main">
    <div class="candidate-box">
      <div class="headline">

        {{#if favourite}}
          <i class="fa fa-star"></i>
        {{/if}}
        {{#if keywords}}
        <a href="/candidate/{{id}}/{{encodeKeywordsHelper keywords}}"><img src="{{picture}}" alt="" /></a>
        <a href="/candidate/{{id}}/{{encodeKeywordsHelper keywords}}"><h1 class='check-highlight'>{{fullname}}</h1></a>

        {{#each connectedTo}}
          <ul>
            {{#if this}}
              <li><a href="/connected/{{encodeKeywordsHelper this}}"><span class='initials'>{{initials_of_connected_users this}}</span></a></li>
            {{/if}}
          </ul>
        {{/each}}

        {{#if clientProfile}}
          <p><span class='status-client'>Client Employee</span></p>
        {{/if}}

        {{#if status}}
          <p><span class='status'>{{status}}</span></p>
        {{/if}}

        {{else}}
        <a href="/candidate/{{id}}"><img src="{{picture}}" alt="" /></a>
        <a href="/candidate/{{id}}"><h1 class='check-highlight'>{{fullname}}</h1></a>

        {{#each connectedTo}}
          <ul>
            {{#if this}}
              <li><a href="/connected/{{encodeKeywordsHelper this}}"><span class='initials'>{{initials_of_connected_users this}}</span></a></li>
            {{/if}}
          </ul>
        {{/each}}

        {{#if status}}
          <p><span class='status'>{{status}}</span></p>
        {{/if}}

        {{#if clientProfile}}
          <p><span class='status-client'>Client Employee</span></p>
        {{/if}}


        {{/if}}

        <p class='check-highlight'>{{headline}}</p>
        <p class='check-highlight'>{{current}}</p>
        <p class='check-highlight'>{{location}}</p>

        {{#if emails}}
          {{emailIndicatorHelper lastEmail false}}
        {{/if}}

        {{#each listSkills}}
        <ul class="skills-inline">
          {{#if this.level}}
            <li class="searched-skills"><span class="skill-level">{{this.level}} </span> {{this.skill}}</li>
          {{else}}
            <li>{{this.skill}}</li>
          {{/if}}
        </ul>
        {{/each}}

      </div>
    </div>
  </article>

  <aside class="aside aside-1">
  {{#if email}}
    {{#unless status}}
      {{#unless clientProfile}}
      <input type="checkbox" name="email" value='{"email": "{{this.email}}", "id":"{{this.id}}", "fn":"{{this.firstName}}"}'>
      {{/unless}}
    {{/unless}}
  {{/if}}
  </aside>

  <aside class="aside aside-2">
     {{#if percentageMatch}}
    <div class="pie">{{percentageMatch}}%</div>
    {{/if}}
  </aside>

</div>
