<div class="list-wrapper">
<div class="star">
  {{listFavourite}}
  {{#if favourite}}
    FAVOURITE!
  {{/if}}
</div>
<div class="thumbnail">
  <div class="headline">
    <a href="/candidate/{{id}}"><img src="{{picture}}" alt="" /></a>
    <a href="/candidate/{{id}}"><h1>{{fullname}}</h1></a><br/>
    <p>{{current}}</p>
    <p>{{location}}</p>

    {{#each connectedWith}}
    <ul>
      <li><span class='initials'>{{initialsConnectedUsersHelper this}}</span></li>
    </ul>
    {{/each}}

  </div>
</div>
</div>
