<div class="list-wrapper">
<div class="thumbnail">
  <div class="headline">
    {{#if favourite}}
      <i class="fa fa-star"></i>
    {{/if}}
    {{#if keywords}}
    <a href="/candidate/{{id}}/{{encodeKeywordsHelper keywords}}"><img src="{{picture}}" alt="" /></a>
    <a href="/candidate/{{id}}/{{encodeKeywordsHelper keywords}}"><h1 class='check-highlight'>{{fullname}}</h1></a><br/>
    {{else}}
    <a href="/candidate/{{id}}"><img src="{{picture}}" alt="" /></a>
    <a href="/candidate/{{id}}"><h1 class='check-highlight'>{{fullname}}</h1></a><br/>
    {{/if}}

    <p class='check-highlight'>{{current}}</p>
    <p class='check-highlight'>{{location}}</p>

    {{#each initials}}
      <ul>
        <li><span class='initials'>{{this}}</span></li>
      </ul>
    {{/each}}

    {{#if email}}
    <i class="fa fa-at"></i>
    {{/if}}

  </div>
</div>
</div>
