<div class="list-wrapper client-job-wrapper">
  <article class="main">
    <div class="candidate-box">
      <div class="headline">
        <a href="/clients/{{this.id}}">
        <div class="client-job-main-content">
          <ul>
            {{#if this.logoUrl}}
              <img src="{{this.logoUrl}}" alt="logo image" />
            {{else}}
              <img src="/assets/img/square-global-m-logo.png"/>
            {{/if}}
            <li><span><strong>Company name:</span> {{this.name}}</strong></li>
            <li><span>Possible Names:</span> {{this.possibleNames}}</li>
            <li><span>Client since: </span>{{this.startFrom}}</li>
            <li><span>Active Roles: {{this.jobs.length}}</li>
            <li><span>Account Manager: </span>{{this.accountManagerName}}</li>
            <li><span>Terms: </span>{{this.terms}}</li>
          </ul>
        </div>
        <div class="client-job-contact-content">
          <ul>
            <h4><strong>Key contact:</strong></h4>
            <li><span>Name: </span><strong>{{this.contactName}}</strong></li>
            <li><span>Email: </span>{{this.contactEmail}}</li>
            <li><span>Phone: </span>{{this.contactPhone}}</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
  </article>
</div>
