<header>
  <section class="search">
    <a class="hamburger" href=""><i class="fa fa-bars fa-lg"></i></a>
    <div id="search-form">
        <input id="search-box" name="searchInput" size="40" type="text" placeholder="i.e Javascript London" value="{{query}}"/>
        <input id="currentPage" type="hidden" name="page" value="{{page}}"/>
        <input id="totalPages" type="hidden" name="totalPages" value="{{pages}}"/>
    
        <button id="search-btn" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </section>
</header>