<div class="list-wrapper client-job-wrapper">
  <article class="main">
    <div class="candidate-box">
      <div class="headline">
        <a href="/jobs/{{id}}">
        <div class="client-job-main-content">
          <ul>
            <li><span>Job title:</span> {{title}}</li>
            <li><span>Country:</span> United Kingdom</li>
            <li><span>City:</span> {{address.city}}</li>
            <li><span>Required Skills:</span> {{skillList}}</li>
          </ul>
        </div>
        <div class="client-job-contact-content job-right">
          <ul>
            <li><span>Contract:</span> {{employmentType}}</li>
            <li><span>Salary:</span> {{salary}} </li>
            <li><span>Pay rate:</span> {{payRate}} </li>
          </ul>
          </div>
          <span id="corner-initials">{{owner.initials}}</span>  
        </a>
      </div>
    </div>
  </article>
</div>
