<header>
  <section class="search">
    <div class="search-form">
      <form action="/query" method="GET">
        <input name="job" placeholder="Job Title">
        <input name="fullname" placeholder="Name">
        <input name="location" placeholder="Location">
        <input id="currentPage" type="hidden" name="page" value="{{page}}"/>
        <input id="totalPages" type="hidden" name="totalPages" value="{{pages}}"/>
        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
      <a class="my-favourite" href="/favourite"><i class="fa fa-star"></i></a>
    </div>
  </section>
</header>
