<header>
  <section class="search">
    <div class="search-form">
    <a class="home-link" href="/"><i class="fa fa-home"></i></a>
    <a class="home-link" href="/clients/list"><i class="fa fa-briefcase"></i></a>
    <a class="home-link" href="/jobs/list"><i class="fa fa-tasks"></i></a>
    <a class="my-favourite" href="/favourite"><i class="fa fa-star"></i></a>
    <a class="dash-link" href="/dashboard"><i class="fa fa-user"></i></a>
      <form action="/query" method="GET">
        <input name="job" placeholder="Job Title" value="{{headlineValue}}">
        <input name="fullname" placeholder="Name" value="{{fullnameValue}}">
        <input name="location" placeholder="Location" value="{{locationValue}}">
        <input name="current" placeholder="Company" value="{{currentValue}}">
        <input name="skills" placeholder="Skills" value="{{skillsValue}}">
        <input id="currentPage" type="hidden" name="page" value="{{page}}"/>
        <input id="totalPages" type="hidden" name="totalPages" value="{{pages}}"/>
        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </section>
</header>
