<div class="box-wrapper">
  <div class="box0">
      <div class="box1">
          <span class="li_tag"></span>
          <h3>933</h3>

      </div>
      <p>933 Already Contacted</p>
  </div>
  <div class="box0">
      <div class="box1">
          <span class="li_data"></span>
          <h3>900</h3>

      </div>
      <p>933 Incomplete Data</p>
  </div>
  <div class="box0">
      <div class="box1">
          <span class="li_eye"></span>
          <h3>933</h3>

      </div>
      <p>933 Favourite Candidates</p>
  </div>
  <div class="box0">
      <div class="box1">
          <span class="li_diamond"></span>
          <h3>888</h3>

      </div>
      <p>933 Candidates Placed</p>
  </div>
</div>