<div class="analytics-header">
  <div class="cell name">Searched by </div>
  <div class="cell headline">Job Title</div>
  <div class="cell fullname">Fullname</div>
  <div class="cell location">Location</div>
  <div class="cell current">Current Job Title</div>
  <div class="cell skills">Skills</div>
</div>
<br/>

{{#each results}}
<div class="analytics-data">
  <div class="analytics-data-cell">
    {{this.userName}}
  </div>
   <div class="analytics-data-cell">
    {{this.query.headline}}
  </div>
  <div class="analytics-data-cell">
    {{this.query.fullname}}
  </div>
  <div class="analytics-data-cell">
    {{this.query.location}}
  </div>
  <div class="analytics-data-cell">
     {{this.query.current}}
  </div>
  <div class="analytics-data-cell">
     {{this.query.skills}}
  </div>
</div>
<hr/>
{{/each}}
