<div class="candidate_view">
  <div class="thumbnail">
    <div class="headline">
      <a href=""><img src="{{picture}}" alt="" /></a>
      <a href=""><h1>{{fullname}}</h1></a><br/>
      <p>{{current}}</p>
      <p>{{experience.current.0.title}}</p>
      {{#each tags}}
        {{{tagsHelper this}}}
      {{/each}}
    </div>
    <div class="details">
      <h1>Skills: </h1>
        <ul class="skills">        
          <li><span class="">{{skills}}</span></li>
        </ul>
    </div>
  </div>
</div>

{{>footer_mobile_candidate_view}}