{{>search_bar}}
<div class="candidate_view">
  <div class="thumbnail">
    <div class="headline">
    <!-- Add favorite icon -->
      {{#if favourite}}
      <!-- form for unfavourite -->
        <form class="favourite-form" method="POST" action="">
        <input type="hidden" id="profileId" name="id" value="{{id}}"/>
        <input type="hidden" name="javascriptDisabled" value='true'/>
          <button type="submit"><i id="star-state" class="fa fa-star"></i></button>
        </form>
      {{else}}
        <form class="favourite-form" method="POST" action="/favourite">
        <input type="hidden" id="profileId" name="id" value="{{id}}"/>
        <input type="hidden" name="javascriptDisabled" value='true'/>
          <button type="submit"><i id="star-state" class="fa fa-star unchecked"></i></button>
        </form>

      {{/if}}

      <img src="{{picture}}" alt="" />
      <h1 class="fullname"><strong class="check-highlight">{{fullname}}</strong></h1>
      <p class="check-highlight">{{location}}</p>

      {{#each connectedTo}}
      <ul>
        {{#if this}}
          <li><span class='initials'>{{initials_of_connected_users this}}</span></li>
        {{/if}}
      </ul>
      {{/each}}

       <p class="mobile"><span>Linkedin: </span><a href="{{url}}" target="_blank">{{url}}</a></p>
        <p class="mobile"><span>Email: </span><span class="check-highlight">{{contacts.email}}</span></p>
        <p class="mobile"><span>Phone: </span><span class="check-highlight">{{contacts.phone}}</span></p>
          {{#each contacts.im}}
            <p class="mobile"><span>IM: </span><span class="check-highlight">{{this}}</span></p>
          {{/each}}
        <p class="mobile"><span>Address: </span><span class="check-highlight">{{contacts.address}}</span></p>

    </div>
    <hr>
    <aside>
      <div id="sidebar">
        <h1><i class="fa fa-user"></i> CONTACT</h1>
        <p><span>Linkedin: </span><a class="check-highlight" href="{{url}}" target="_blank">{{url}}</a></p>
        <p><span>Email: </span><span class="check-highlight">{{contacts.email}}</span></p>
        <p><span>Phone: </span><span class="check-highlight">{{contacts.phone}}</span></p>
          {{#each contacts.im}}
            <p><span>IM: </span>{{this}}</p>
          {{/each}}
        <p><span>Address: </span><span class="check-highlight">{{contacts.address}}</span></p>

        <button type="button" name="delete-profile" class="delete-profile">Delete</button>
        <div class="">
          <form action="/delete" method="post" class="delete-profile-confirmation">
            <p>
              Do you really want to delete this profile?
            </p>
            <button type="submit">Yes, delete it!</button>
            <input type="hidden" name="id" value="{{id}}">
            <button type="button" class='cancel-delete-profile'>No, keep it!</button>
          </form>
        </div>

      </div>
    </aside>
    <div class="details">

    <h1><i class="fa fa-file-text-o"></i> SUMMARY</h1>
      <p><span class="check-highlight">{{summary}}</span></p>
    <h1><i class="fa fa-trophy"></i> SKILLS</h1>
      <div class="skills-box">
        <ul>
        {{#each skills}}
          {{skillsHelper this}}
        {{/each}}
        </ul>
      </div>
    <h1><i class="fa fa-cubes"></i> CURRENT EXPERIENCE</h1>
      {{#each experience.current}}
        {{experienceHelper this}}
      {{/each}}
      <hr>
      <h1><i class="fa fa-cubes"></i> PAST EXPERIENCE</h1>
      {{#each experience.past}}
        {{experienceHelper this}}
      {{/each}}
      <hr>

      <h1><i class="fa fa-globe"></i> LANGUAGES</h1>
        <ul class="lang">
          {{#each languages}}
            {{languageHelper this}}
          {{/each}}
        </ul>
    </div>
    <input type="hidden" class="keywords" value="{{keywords}}">
  </div>
</div>

{{>footer_mobile_candidate_view}}

<script src="/assets/js/candidate_view.js"></script>
