<div class="candidate_view">
  <div class="thumbnail">
    <div class="headline">
      <img src="{{picture}}" alt="" />
      <h1>{{fullname}}</h1><br/>
      <br/>
      <p>{{location}}</p>
      
    </div>
    <hr>
    <div class="details">
    <h1>Expierence: </h1>
      <h2>Current company: </h2>
      <p>{{experience.current.0.org}}</p>
      <h2>Position</h2>
      <p>{{experience.current.0.title}}</p>
      <h2>Date: </h2>
      <p>{{experience.current.0.date}}</p>
      <h2>Description: </h2>
      <p>{{experience.current.0.desc}}</p>
      <h2>Location: </h2>
      <p>{{experience.current.0.locaion}}</p>
      <hr>
      <h2>Current company: </h2>
      <p>{{experience.current.1.org}}</p>
      <h2>Position</h2>
      <p>{{experience.current.1.title}}</p>
      <h2>Date: </h2>
      <p>{{experience.current.1.date}}</p>
      <h2>Description: </h2>
      <p>{{experience.current.1.desc}}</p>
      <h2>Location: </h2>
      <p>{{experience.current.1.locaion}}</p>
      <hr>
      <h1>Past expierence:</h1>
      <h2>Company: </h2>
      <p>{{experience.past.0.org}}</p>
      <h2>Position</h2>
      <p>{{experience.past.0.title}}</p>
      <h2>Date: </h2>
      <p>{{experience.past.0.date}}</p>
      <h2>Description: </h2>
      <p>{{experience.past.0.desc}}</p>
      <h2>Location: </h2>
      <p>{{experience.past.0.locaion}}</p>
      <hr>
      <h1>Skills: </h1>
        <ul class="skills">        
          <li><span class="">{{skills}}</span></li>
        </ul>
      <h1>Languages:</h1>
        <ul class="skills">        
          <li><span class="">{{languages}}</span></li>
        </ul>
      {{#each tags}}
        {{{tagsHelper this}}}
      {{/each}}  
    </div>
    <div class="action_buttons">
      <button><span class="li_tag"></span></button>
      <button><span class="li_data"></span></button>
      <button><span class="li_eye"></span></button>
      <button><span class="li_diamond"></span></button>
    </div>
  </div>
</div>

{{>footer_mobile_candidate_view}}

