{{>navigation}}

<div class="clients-job-wrapper">
  <div class="client-job-details">
    <div class="client-job-info">

      {{#if client.logoUrl}}
        <img src="{{client.logoUrl}}" alt="logo image"/>
      {{else}}
        <img src="/assets/img/square-global-m-logo.png"/>
      {{/if}}

      <p><span>Client name:</span><strong> {{client.name}}</strong></p>
      <p><span>Possible names:</span> {{client.possibleNames}}</p>
      <p><span>Client since:</span> {{client.startFrom}}</p>
      <p><span>Account Manager:</span> {{client.accountManagerName}}</p>
      <p><span>Terms:</span> {{client.terms}}</p>

      {{#if client.active}}
        <p><span class="active-span">Active</span></p>
      {{else}}
        <p><span class="inactive-span">Inactive</span></p>
      {{/if}}

      <br/>

    </div>

    <div class="client-key-contact">
      <a class="create-icon edit" href="/clients/edit/{{client.id}}">Edit</a>
      
      <p><span>Key Contact:</span> <strong>{{client.contactName}}</strong></p>
      <p><span>Email:</span> {{client.contactEmail}}</p>
      <p><span>Phone:</span> {{client.contactPhone}}</p>  
    </div>

  </div>
  <h2 class="open-roles">Open Roles: {{client.jobs.length}} </h2>
  
  {{#each client.jobs}}
    {{>job}}
  {{/each}}

</div>
