{{>navigation}}

<div class="clients-wrapper">

 <div class="client-details">
  <form action="/clients/save" method="POST">
      <div class="client-info-create">
        <input type="hidden" name="id" value="{{client.id}}">
        <input type="hidden" name="createdAt" value="{{client.startFrom}}">
        <label>Client name: </label>
        <input type="text" name="name" value="{{client.name}}">
        <label>Alternative names: </label>
        <input type="text" name="possibleNames" value="{{client.possibleNames}}">

        <label>Account manager:</label>
        <select name="accountManager">
        {{#each owners}}
          {{optionsOwners this ../client.accountManager}}
        {{/each}}
        </select>

        <label>Terms: </label>
        <input type="text" name="terms" value="{{client.terms}}">

        {{activeCheckbox client.active}}

         <button class="submit-client" type="submit">Save</button>
      </div>

      <div class="client-key-contact-create">
        <label>Key contact name: </label>
        <input type="text" name="contactName" value="{{client.contactName}}">
        <label>Email: </label>
        <input type="text" name="contactEmail" value="{{client.contactEmail}}">
        <label>Phone: </label>
        <input type="text" name="contactPhone" value="{{client.contactPhone}}">
      </div>

  </form>
  </div>
</div>
