{{>navigation}}

<div class="clients-job-wrapper">
  <div class="client-job-details">
    <div class="client-job-info">
      <img src="/assets/img/website-candidate.png"/>
      <p><span>Client name:</span> {{client.name}}</p>
      <p><span>Possible names:</span> {{client.possibleNames}}</p>
      <p><span>Client since:</span> {{client.startFrom}}</p>
      <p><span>Active Roles:</span> {{client.jobs.length}}</p>
      <p><span>Account Manager:</span> {{client.accountManagerName}}</p>
      <p><span>Terms:</span> {{client.terms}} %</p>

      {{#if client.active}}
        <p><span class="active-span">Active</span></p>
      {{else}}
        <p><span class="inactive-span">Inactive</span></p>
      {{/if}}

      <br/>
    </div>

    <div class="client-key-contact">
      <p><span>Key Contact:</span> {{client.contactName}}</p>
      <p><span>Email:</span> {{client.contactEmail}}</p>
      <p><span>Phone:</span> {{client.contactPhone}}</p>
      <br/>
      <br/>
      <a class="edit-client" href="/clients/edit/{{client.id}}">Edit</a>
    </div>

  </div>

  {{#each client.jobs}}
    {{>job}}
  {{/each}}

</div>
