<div class="container">
  <div class="header-user-name">
 
    <h1>{{user}}</h1>
 
  </div>
  <br/>
 
<p>Submitted: {{submitted.length}} </p>
<p>Phone Screen: {{phone_screen.length}}</p>
<p>Inteview: {{interview.length}} </p>
<p>Placement: {{placement.length}} </p>

<br/>


{{#each submitted}}
  <h1>{{fullname}} | {{currentStatus}}</h1>
{{/each}}


{{#each phone_screen}}
  <h1>{{fullname}} | {{currentStatus}}</h1>
{{/each}}


{{#each interview}}
  <h1>{{fullname}} | {{currentStatus}}</h1>
{{/each}}



{{#each placement}}
  <h1>{{fullname}} | {{currentStatus}}</h1>
{{/each}}


</div>