<div class="dash-container">
  <div class="dash-user">
    <div class="user-name">
      <h1>{{user}}</h1>
    </div>
  </div>

  <div class="summary">
    <div class="box">
      <h1>{{submitted.length}}</h1>
      <p>Submitted</p>
    </div>
    <div class="box">
      <h1>{{phone_screen.length}}</h1>
      <p>Phone Screen</p>
    </div>
    <div class="box">
      <h1>{{interview.length}}</h1>
      <p>Interview</p>
    </div>    
    <div class="box">
      <h1>{{placement.length}}</h1>        
      <p>Placement</p>    
    </div>
  </div>

  <div class="wrapper-list">
    <div class="aside-submitted">SUBMITTED</div>
    <div class="submitted-list">
    {{#each submitted}}
      <div class="contact">
        <a href="/candidate/{{id}}"><img src="{{picture}}" alt="{{fullname}}"></a>
        <p><a href="/candidate/{{id}}">{{fullname}}</a></p>
      </div>
    {{/each}}
   
    </div>

    <div class="aside-phone-screen">PHONE SCREEN</div>
    <div class="phone-screen-list">
    {{#each phone_screen}}
      <div class="contact">
        <a href="/candidate/{{id}}"><img src="{{picture}}" alt="{{fullname}}"></a>
        <p><a href="/candidate/{{id}}">{{fullname}}</a></p>
      </div>
    {{/each}}
    </div>

    <div class="aside-interview">INTERVIEW</div>
    <div class="interview-list">
    {{#each interview}}
      <div class="contact">
         <a href="/candidate/{{id}}"><img src="{{picture}}" alt="{{fullname}}"></a>
        <p><a href="/candidate/{{id}}">{{fullname}}</a></p>
      </div>
    {{/each}}
   
    </div>

    <div class="aside-placement">PLACEMENT</div>
    <div class="placement-list">
    {{#each placement}}
      <div class="contact">
         <a href="/candidate/{{id}}"><img src="{{picture}}" alt="{{fullname}}"></a>
        <p><a href="/candidate/{{id}}">{{fullname}}</a></p>
      </div>
    {{/each}}
    </div>
  </div>
</div>



















 





