<div class="container">
  <div class="header-user-name">
    <h1>{{contacts.fullname}}</h1>
    <p>TARGET: 20K</p>
  </div>

  <div class="summary-status">
    <div class="dash-status">
      <p>12</p>
      <h1>Submitted</h1>      
    </div>
    <div class="dash-status">
      <p>12</p>
      <h1>Phone Screen</h1>
    </div>
    <div class="dash-status">
      <p>12</p>
      <h1>Interview</h1>
    </div>
    <div class="dash-status">
      <p>12</p>
      <h1>Placement</h1>
    </div>
  </div>

  <div class="candidate-status">
    <div class="status-title"></div>
    <div class="candidates-pic"></div>
  </div>
</div>