{{>search_bar}}

<div class="email-wrapper">

  <article class="email-main">
    <div>
      <img src="{{userProfile.image}}" alt="{{userProfile.firstname}}" />
      <p>{{userProfile.firstname}}</p>
    </div>
    <form action="/sendemail" method="POST">
      <div>
        <ul>
          {{emailsHelper emails}}
        </ul>
        <input type="text" name="subject" placeholder="Subject"/><br/>
        <textarea name="message" placeholder="Message" cols="10" rows="10">Hi {name},</textarea>
        <input hidden name="fn" value="{{user.names.fullname}}">
        <input hidden name="role" value="{{user.role}}">
        <input hidden name="office" value="{{user.phones.office}}">
        <input hidden name="mobile" value="{{user.phones.mobile}}">
        <input hidden name="linkedin" value="{{user.linkedin}}">
        <div class="signature">
          {{>signature}}
        </div>
        <button type="submit">Send</button>
      </div>
    </form>

  </article>

  <aside class="email-aside email-aside-1"></aside>
  <aside class="email-aside email-aside-2"></aside>

</div>
