{{>header_mobile}}

<section class="container">
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
  <div class="thumbnail">
      <h2>Adam Novak</h2>
  </div>
</section>

{{>footer_mobile}}