{{>navigation}}

<div class="clients-job-wrapper">

  <div class="vacancy-wrapper">
    <form id="create-vacancy" action="/jobs/create" method="POST">
      <div>
       <p class="description">Job Titles</p>
          <p>
            <label for="title">Job Title:</label>
            <input type="text" name="title" required value="{{job.title}}">
            <input type="hidden" name="id" value="{{job.id}}">
          </p>

           <p>
            <label for="customText3">Job Sub Title:</label>
            <input type="text" name="customText3" required value="{{job.customText3}}">
          </p>

          <hr/>

          <p class="description">Key contact</p>

          <p>
            <label>Client name:</label>
            <select name="client" required>
            {{#each clients}}
              {{optionsClients this ../job.client.id}}
            {{/each}}
            </select>
            <input type="hidden" name="previousClient" value="{{job.client.id}}">
          </p>

           <p>
            <label>Owner:</label>
            <select name="owner" required>
            {{#each owners}}
              {{optionsOwners this ../job.owner.id}}
            {{/each}}
            </select>
          </p>

          <hr/>

          <p class="description">Job Location</p>

          <p>
            <label for="city">City:</label>
            <input type="text" name="city" value="{{job.address.city}}">
          </p>

          <p>
            <label for="countryId">Country:</label>
            <select name="countryId">

            {{#each countries}}
              {{optionsCountries this ../job.address.countryID}}
            {{/each}}
            </select>
          </p>

          <p>
            <label for="customText2">Region:</label>
            <select name="customText2" required>
              {{optionsRegions job.customText2}}
            </select>
          </p>

          <hr/>
          <p class="description">Job Salary</p>

          <p>
            <label for="employmentType">Employment Type:</label>
            <select name="employmentType" required>
              {{optionsEmploymentType job.employmentType}}
          </select>
          </p>

           <p>
            <label for="salary">Minimum Salary:</label>
            <input type="text" name="salary" value="{{job.salary}}">
          </p>

          <p>
            <label for="payRate">Pay Rate:</label>
            <input type="text" name="payRate" value="{{job.payRate}}">
          </p>

          <p>
            <label for="customText12">Currency:</label>
            <select name="customText12" required>
              {{optionsCurrency job.customText12}}
            </select>
          </p>

          <hr/>
          <p class="description">Skills / Experience </p>

           <p>
            <label for="customText1">Seniority:</label>
            <select name="customText1">
              {{optionsSeniority job.customText1}}
            </select>
          </p>

           <p>
            <label for="skillList"> Required Skills:</label>
              <select name="skillList" multiple>
                {{listSkillsHelper job.skillList}}
             </select>
          </p>

          <p>
            <label for="businessSectors">Business Sector:</label>
            <select name="businessSectors" multiple>
            {{#each sectors}}
              {{optionsSectors this ../job.businessSectors.data}}
            {{/each}}
            </select>
          </p>

          <hr/>
          <p class="description">Category </p>

           <p>
            <label for="categories">Category:</label>
            <select name="categories" multiple>
              {{#each categories}}
                {{optionsCategories this ../job.categories.data}}
              {{/each}}
            </select>
          </p>

          <hr/>

          <p class="description">Extra Information </p>

           <p>
            <label for="customText5">Image Text 1:</label>
            <input type="text" name="customText5" value="{{job.customText5}}">
          </p>

          <p>
            <label for="customText6">Image 1: </label>
            <input type="text" name="customText6" value="{{job.customText6}}">
          </p>

          <p>
            <label for="customText7">Image Text 2:</label>
            <input type="text" name="customText7" value="{{job.customText7}}">
          </p>

          <p>
            <label for="customText8">Image 2:</label>
            <input type="text" name="customText8" value="{{job.customText8}}">
          </p>

          <p>
            <label for="customTextBlock2">Image Text 3:</label>
            <input type="text" name="customTextBlock2" value="{{job.customTextBlock2}}">
          </p>

          <p>
            <label for="customText11">Image 3:</label>
            <input type="text" name="customText11" value="{{job.customText11}}">
          </p>
          <hr/>
          <p class="description">Job Description </p>

           <p>
            <label for="customTextBlock1">Job Intro:</label>
            <input type="text" name="customTextBlock1" value="{{job.customTextBlock1}}">
          </p>

           <p>
            <label for="description">Job Description:</label>
            <textarea id="tiny" rows="10" cols="50" type="text" name="description" >{{{job.description}}}</textarea>
          </p>

          <p>
            <button class="submit-client submit-job" type="submit">Submit</button>
          </p>

      </div>
    </form>

  </div>

</div>
