{{>navigation}}

<div class="clients-job-wrapper">

  <div class="candidatesApplication">
    {{#each job.candidates}}
      <!-- can access the jobApplication, fullname and picture properties of the candidates object -->
      <p>Name:{{this.fullname}}</p>
    {{/each}}
  </div>

   <div class="client-job-details">
    <div class="job-info">
      <p class="job-title">Job Title: {{job.title}}</p>
      <p>Job Sub Title: {{job.customText3}}</p>
      <p>Contract: {{job.employmentType}}</p>
      <hr/>
      <p class="description">Job Location</p>
      <p>City: {{job.address.city}}</p>
      <p>Country: {{job.countryLabel}}</p>
      <p>Region: {{job.customText2}}</p>

      <hr/>
      <p class="description">Category</p>

      <p>Add category</p>

      <hr/>
      <p class="description">Skills/ Experience</p>

      <p>Required skills: {{job.skillList}}</p>
      <p>Seniority: {{job.customText1}}</p>
      <p>Sector:</p>
      {{#each job.sectors}}
        {{this.name}}</p>
      {{/each}}

      <hr/>
      <p class="description">Extra information: </p>

      <p>Custom Block Text: {{job.customTextBlock2}}</p>

    </div>

    <div class="job-contact">
      <p>Client name: {{job.client.name}}</p>
      <p>Owner: {{job.owner.firstName}}</p>


      <hr/>
      <p class="description">Salary: </p>

      <p>Salary: {{job.salary}}</p>
      <p>Pay Rate: {{job.payRate}}</p>
      <p>Currency: {{job.customText12}}</p>

    </div>

  </div>

  <div class="job-clear">

    <hr/>
    <div>
      <p class="description">Images: </p>


      <img class="job-img job-image" src="{{job.customText6}}">

     <img class="job-img job-image" src="{{job.customText8}}">

      <img class="job-img job-image" src="{{job.customText11}}">
    </div>
    <hr />
      <p class="description">Job details: </p>

      <p>Job Intro: {{job.customTextBlock1}}</p>
      <br/>
      <p>Job Description:</p>
      {{{job.description}}}
  </div>

</div>
