a#mobile {
  display: none;
}
  #search-btn {
      width: 100px;
  }
  #search-box {
      width: auto;
  }
  #filter {
    padding: 9px 15px;
  }
/*  .dblarrow {
    display: none;
  }*/
.container {
	padding-top: 20px;
}
  .candidate_view {    
    padding: 20px;
    margin: 50px 0;
  }

/*This section might be used in thrid iteration*/
.box-wrapper {
	display: block;
  width: 90%;
  margin: 40px auto;
  /*padding: 0 15px 15px 15px;*/
  text-align: center;
}
	.box0, .box1{
    /*width: 18%;*/
    display: inline-block;
    padding: 0 50px;
	}
	.box1 {
    /*padding: 15px;*/
    padding-top:15px;
    text-align: center;
    color: #989898;
    border-bottom: 1px solid #989898;
	}
		.box1 span {
    	font-size: 50px;
    	color: #989898;
		}
		.box1 h3 {
			padding-bottom:5px;
		}
	.box0:hover .box1 {
    border-bottom: 1px solid #ffffff;
	}

	.box0 p {
    text-align: center;
    font-size: 12px;
    color: #f2f2f2;
    padding-top:5px;
	}

		.box0:hover p {
	    color: #ff865c;
		}

		.box0:hover {
	    background: #ffffff;
	    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
		}

/*The end of this section*/

.list-wrapper {
	width:60%;
	margin: 5px auto;
}

.headline img {
	width: 120px;
}
  .headline h1 {
    text-decoration: none;
    font-size: 1.2em;
  }

  .headline h2 {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.73);
  }

  .headline p {
  	font-size: 1em;
    padding: 2px;
    color: grey;
    font-size: 1em;
  }

  .headline p.mobile {
    display: none
  }

aside {
  display: table-cell;
  float:right;
  position: relative;
  width: 25%;
}
  #sidebar {
  background-color: #fff;
  padding: 0 10px;
}
  #sidebar > p {
    font-size: 14px;
  }

  #sidebar  > p > span {
    font-size: 12px;
    color: grey;
  }

  #sidebar i {
    font-size: 35px;
  }

.details {
  width: 75%;
  border-right: 1px solid #BCBFA4;
  padding: 0 20px;
}
 
.pagination a , .page-number{
  font-size: 22px;
}
  #prev, #next {
    padding: 1px 12px 1px;
  }

/*.action_buttons {
  margin-top: 10px;
}*/

@media (max-width: 1144px) {
  .candidate_view img {
    width: 80px;
  }
  .box-wrapper {
  	width: 100%;
  }
 /* .box0, .box1{
    display: inline-block;
    padding: 10px 20px 0 20px;
	}*/
	.list-wrapper {
		width:80%;
	}
	.headline img {
		width: 80px;
	}  
}