.search-btn {
  width: 100px;
}

#search-box {
  width: auto;
}

#filter {
  padding: 9px 15px;
}

.container {
	padding-top: 20px;
}

.candidate_view {
  padding: 20px;
}

.list-wrapper, .title-wrapper {
	width: 95%;
	margin: 5px auto;
  height: 90%;
}

.client-job-wrapper {
  width: 60%;
}

.title-wrapper {
  text-align: center;
}

.headline img {
	width: 140px;
}

.headline h1 {
  text-decoration: none;
  font-size: 1.2em;
}

.headline h2 {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.73);
}

.headline p {
	font-size: 1em;
  padding: 2px;
  color: grey;
  font-size: 1em;
}

.headline .initials {
  margin: 8px 8px 0 0;
  font-size: 0.9em;
  margin-top: -20px; 
}

.headline p.mobile {
  display: none
}

.favourite-form button {
  font-size: 1.5em;
}

aside {
  display: table-cell;
  float:right;
  position: relative;
  width: 35%;
}

#sidebar {
  padding: 0 10px;
  border-left: 1px solid #BCBFA4;
}

#sidebar > p {
  font-size: 14px;
}

#sidebar  > p > span {
  font-size: 12px;
  color: grey;
}

#sidebar i {
  font-size: 35px;
}

.details {
  width: 65%;
  padding: 0 20px;
}

.pagination a , .page-number{
  font-size: 22px;
}
#prev, #next {
  padding: 1px 12px 1px;
}

.delete-profile-confirmation {
  display: none;
}

.delete-profile, .delete-profile-confirmation button{
  padding: 5px 10px;
  background-color: #424A5D;
  color: #FFD777;
  border:0 none;
}

/*==============================
 Notes
================================*/
.notes-wrapper {
  /*background-color: rgba(128, 128, 128, 0.17);*/
  padding: 10px;
}

.notes-box {
  margin-top: 20px;
  background-color: #FFF;
}

.notes {
  max-width: 400px;
}
.notes li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.notes input[type=text],
.notes textarea,
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  background-color: #fff;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none; 
}
input[type=text]:focus,
textarea:focus,
select:focus{
  -moz-box-shadow: 0 0 8px #97A3BF;
  -webkit-box-shadow: 0 0 8px #97A3BF;
  box-shadow: 0 0 8px #97A3BF;
  border: 1px solid #97A3BF;
}
.notes .field-divided{
  width: 49%;
}

.notes .field-long{
  width: 100%;
}

.notes .field-textarea{
  height: 100px;
}

.notes input[type=submit]{
  float: right;
  background: #424A5D;
  padding: 5px 10px;
  border: none;
  color: #FFD777;
}

.notes input[type=submit]:hover{
  background: #FFD777;
  color: #424A5D;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

/*==============================
 End Notes
================================*/

/*==============================
 Email section
================================*/
.display-email, .close {
  cursor: pointer;
}

.hidden-email {
  display: none;
}

.close {
  display: none;
  float: right;
  margin-top: -20px;
  color: #424A5D;
}

span.close > i.fa-times {
  font-size: 22px !important;
}

.emails-box p {
  padding: 5px 5px 2px 10px;
}
/*==============================
 End Email section
================================*/

/*==============================
 Login page
================================*/
.container-login {
  margin-top: 20%;
  width: 450px;
}
.container-login > h1 {
  font-size: 40px;
}
/*==============================
 End Login page
================================*/
/*==============================
 404 page
================================*/

.container-error-page {
  margin-top: 20%;
  width: 600px;
  overflow-y: hidden;
}

.container-error-page > h2 {
  font-size: 30px;
}

.container-error-page > a button {
  font-size: 16px;
}

/*==============================
 End 404 page
================================*/
@media (min-width: 1440px) {

  .search-form input {
    width: 200px;
  }

}

@media (max-width: 1440px) {

  .curly-left {
    margin-left: 74px;
  }

  .client-job-wrapper {
    width: 75%;
  }

  .create-icon {
    right: 1%;
  }

  .client-job-details, .job-clear {
    width: 75%;
  }

  .client-job-info > img, .client-job-main-content > ul >img {
    width: 145px;
  }

}

@media (max-width: 1225px) {
  .pie {
    margin-left: 90px;
  }

}

@media (max-width: 1144px) {

  .notes .field-divided{
    width: 100%;
}
  .candidate_view img {
    width: 80px;
  }
  
/* .notes textarea {
    width: 150px;
  }*/

	.list-wrapper {
		width:80%;
	}

	.headline img {
		width: 100px;
	}

}
