/*==============================
  #GENERAL
================================*/
html {
  background-color: #fff;
  font: 100%/1.3 'Open Sans ','Arial', sans-serif;
  height: 100%;
  width: 100%;
}
body {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
}