/*==============================
  #GENERAL
================================*/
html {
  background-color: #fff;
  font: 100%/1.3 'Vollkorn', serif;
  font-family: 'Vollkorn', serif;
  /*height: 100%;*/
  width: 100%;
}
body {
  background: #f2f2f2;
  width: 100%;  
}
.search {
  display: inline;
}
  .hamburger {
    position: absolute;
    float: left;
    padding: 5px;
    /*width: 40px;*/
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .fa-lg {
    line-height: 1.3em !important;
    color: #424A5D;
  }
  #search-form {
    text-align: center;
    padding: 5px;
  }
    #search-btn {
      background: #424A5D;
      color:white;
      padding: 10px;
      border:0 none;
      font-weight:bold;
    }
      #search-btn .fa {
        color: #FFD777;
      }

    #search-box {
      padding: 10px;
      border:0 none;
      width:160px;
    }
.container, .candidate_view {
  margin-bottom: 40px;
  padding: 5px;
}
.thumbnail {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
}
  .headline {
    position: relative;
    /*width: 50px;
    height: 50px;*/
    overflow: hidden;
  }
    .headline img {
      /*position: absolute;*/
      width: 50px;
      height: 50px;
      float:left;
     /* width: 100%;*/
      height: auto;
      padding-right: 10px;
      /*-webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);*/
    }
     .headline h1{
      color: #424A5D;
      float: left;
      text-decoration: underline;
     }
     .headline p {
      color:grey;
      font-size: 0.8em;
     }
     .headline span {
      float: right;
      color: #424A5D;
      padding-right: 2px;
     }
footer {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
}
  ul.nav{
    padding: 0;
    display: table;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #424A5D;
  }
    ul.nav li {
      display: table-cell;
    }
      ul.nav a {
        text-decoration: none;
        display: block;
        padding: 8px;
        border: 1px solid #FFD777;
        border-right: none;
        text-align: center;
        color: #FFD777;
      }
      ul.nav li:last-child {
        border-right: 1px solid #FFD777;
      }
        span {
          color: #FFD777;
        }


ul.skills {
    padding: 0;
    display: table;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
  }
    ul.skills li {
      display: block;
      padding: 2px;
        border: 1px solid black;
    }
      ul.skills li span {
        display: block;
        
      }