/*==============================
  #GENERAL
================================*/
html {
  background-color: #f2f2f2;
  font: 100%/1.3 'Helvetica', serif;
  font-family: 'Helvetica', serif;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;

}
body {
  background-color: inherit;
  text-decoration: none;
  position: inherit;
  max-width: 100%;
  overflow-x:hidden;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}
/*==============================
  END GENERAL
================================*/

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
  background-color: #424A5D;
}

.highlight {
  background-color: rgba(228, 173, 40, 0.45);
  padding:2px 5px;
}
.status-client {
  color: #fff !important;
  background-color: #ef7b6b;
  padding: 2px 5px;
}

.status {
  color: #fff !important;
  background-color: #424A5D;
  padding: 2px 5px;
  margin-top: 10px;
}

.st-profile {
  margin: 5px 0 0 0;
}

/*.headline p:first-of-type {
  margin-top: 15px;
}*/

.headline p {
  margin-top: 5px;
}

.candidate_view .headline p:first-of-type {
  margin-top: 0px;
}
/*==============================
  SEARCH BAR
================================*/
.search {
  display: inline;
}

.search-form {
  text-align: center;
  padding: 5px;
}

.search-form form {
  margin-top: 5px;
}

.search-form input {
  padding: 5px 0;
  width: 180px;
}

.search-form > a > i.fa-star, .search-form > a > i.fa-user {
  margin-top: 0px !important;
}

.search-btn {
  background-color: #E4AD28;
  color:white;
  padding: 6px 0px;
  border:0 none;
  font-weight:bold;
  width: 50px;
}
.search-btn .fa {
  color:#424A5D;
}

#search-box {
  padding: 10px;
  border:0 none;
  width:160px;
}

#filter {
  padding: 9px;
  border: none;
  background-color: white;
}

.my-favourite, .dash-link {
  float:right;
  margin: 8px 5px 10px;
  font-size: 1.5em;
}

.home-link {
  float: left;
  margin: 8px 5px 10px;
  font-size: 1.5em;
  color: #E4AD28;
}

.fa-paper-plane {
  float: right;
  color: #424A5D;
  font-size: 1.3em !important;
}


.last-email-30, span.last-email-30 {
  color: rgba(255, 0, 0, 0.8) !important;
}

.last-email-90, span.last-email-90 {
  color: #FFBF00 !important;
}

.last-email-regular, span.last-email-regular {
  color: green !important;
}

.fa-paper-plane > span {
  float: right !important;
  padding-left: 5px;
  font-size: 0.8em;
}

/*==============================
  END SEARCH BAR
================================*/
.container {
  margin-top:50px;
}

.curly-left {
  color: #B2C463;
}

.curly-right {
  color: #90D2CC;
}

.container{
  margin-bottom:40px;
  padding: 5px;
}

.candidate_view {
  margin-top: 50px;
  background-color: #fff;
}

.candidate-box {
  margin-bottom: 5px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.5);
}

.headline {
  position: relative;
  overflow: hidden;
}

.headline img {
  width: 70px;
  height: 70px;
  float:left;
  height: auto;
  padding-right: 10px;
}

.headline h1{
  color: rgba(0, 0, 0, 0.84);
}

.headline p {
  color: rgb(68, 65, 65);
  font-size: 0.8em;
}

.headline span {
  /*color: grey;*/
  color: #575454;
}

.headline .initials {
  margin: 4px 4px 0 0;
  padding: 3px 6px;
  color: #fff;
  background-color: #424A5D;
  letter-spacing: 1px;
  font-size: 0.6em;
  float: right;
}

i.fa-star, i.fa-user {
  color: #E4AD28;
  border: none;
  float: right;
  margin-top: 10px;
}

.favourite-form button {
  background-color: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
  float:right;
  outline: none;
}

i.fa.fa-star.unchecked {
  color: grey;
}

footer, footer.home {
  position:fixed;
  left:0;
  bottom:0;
  width:100%;
}

ul.nav{
  padding: 0;
  display: table;
  width:100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #424A5D;
}

ul.nav li {
  display: table-cell;
}

ul.nav a {
  text-decoration: none;
  display: block;
  padding: 8px;
  border: 1px solid #FFD777;
  border-right: none;
  text-align: center;
  color: #FFD777;
}

ul.nav li:last-child {
  border-right: 1px solid #FFD777;
}

span {
  color: #FFD777;
}

/*.headline h3*/
.headline h3.email-indicator {
  color: red;
}

/*==============================
 Home view
================================*/
.title-wrapper, .list-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.aside{
  flex: 1 auto;
  width: 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.main{
  flex: 3 40%;
}

.aside-1 {
  order: 1;
}

.main{
  order: 2;
}

.aside-2 {
  order: 3;
}

.title-wrapper .aside-1 {
  padding-left: 62px;
}

.title-wrapper .aside-2 {
  font-size: 1.5em;
  color: #424A5D;
}

#send-email {
  position: fixed;
  bottom: 10px;
  left: 2%;
  background-color: #424A5D;
  color: #FFD777;
  border: none;
  padding: 8px 15px;
  z-index: 2;
}

#send-email:hover, .send-email-form > button:hover, .delete-profile-confirmation button:hover,
.delete-profile:hover {
  background-color: #FFD777;
  color: #424A5D;
  cursor: pointer;
}

input[type='checkbox'] {
  -webkit-transform: scale(1.2, 1.2);
  transform:scale(1.2, 1.2);
}

.anchorTop, .anchorBottom {
  text-align: center;
}

/*==============================
 End new design
================================*/

/*==============================
  #CANDIDATE VIEW
================================*/
.candidate_view {
  overflow-x:hidden;
}

.candidate_view h1 {
  font-size: 1.1em;
  padding: 5px 0;
  color:rgb(52, 52, 80);
}

.candidate_view h2 {
  font-size: 1em;
  color: #181824;
}

.candidate_view p {
  color: #353131;
  padding: 10px 10px;
}

.candidate_view img {
  width: 65px;
}

.details {
  width: 100%;
}

.details h1 {
  clear:left;
}

.skills-box {
  position: relative;
  padding: 10px;
}

/*==============================
  Skills inline
================================*/

ul.skills-inline {
  display: inline-block;
  padding: 2px 10px 2px 2px;
  margin-top: 5px;
  background-color: #b2c462;
}
ul.skills-inline li {
  color: #fff;
}

.skill-level {
  background-color: #FFF;
  margin-right: 10px;
  color: #606C2B!important;
  width: 30px;
  text-align: center;
  font-weight: 600;
}
/*==============================
  End skills inline
================================*/

/*==============================
  Language
================================*/

.lang {
  padding: 10px;
}

ul.lang li span.each-lang {
  color: #111317;
}

ul.lang li {
  display: block;
  padding: 2px;
}

ul.lang li span {
  color: #424A5D;
}

/*==============================
  End Language
================================*/
.details h1 {
  padding: 20px 0 20px;
}

.details h1 > i.fa-file-text-o, i.fa-trophy, i.fa-cubes, i.fa-globe,i.fa-file, #sidebar > h1 > i.fa-envelope, #sidebar > h1 > i.fa-pencil, #sidebar > h1 > i.fa-comments {
  font-size: 25px;
  padding-left: 0;
  padding-right: 20px;
}

.details p {
  color: #434649;
}

.details p strong {
  color: rgba(0, 0, 0, 0.83);
}

.details p span.exp-date {
  color: grey;
  padding-top:5px;
  font-size: 15px;
}

.details p.desc {
  color: rgba(0, 0, 0, 0.85);
}

/*==============================
 Skills
================================*/

.each {
  float: left;
  background-color: #B6C4F3;
  color: #fff;
  padding: 5px;
  margin: 1px;
  border-radius:5px;
}
/*==============================
 End Skills
================================*/
.details span {
  color: #313848;
}

hr {
  border: none;
  height: 1px;
  background-color:#BCBFA4;
  margin-top: 10px;
}
aside {
  display: none;
}
.pagination {
  width:100%;
  position: absolute;
  margin-top: 5px;
}
.pagination-center{
  position: relative;
  text-align: center;
}
.pagination a, .page-number{
  color: #424A5D;
  text-decoration: none;
  font-size: 15px;
}
#prev, #next {
  margin-left: 10px;
  margin-right: 10px;
  padding: 1px 30px 1px;
  margin-top: 10px;
  background: #424A5D;
  color: orange;
}

.page-number {
  color: black;
}
/*==============================
 Login page
================================*/
.container-login , .container-error-page{
  margin: 35% auto 0;
  width: 300px;
  background-color: transparent;
  text-align: center;
  font-size: 20px;
}
.container-login > h1, .container-error-page > h2{
  font-size: 25px;
}

/*==============================
 End Login page
================================*/

/*==============================
 Error page
================================*/
.container-error-page > a button {
  background-color: #424A5D;
  color: #FFD777;
  border: none;
  padding: 5px 10px;
}

.container-error-page > a button:hover {
  cursor: pointer;
  background-color: #FFD777;
  color: #424A5D;
}


/*==============================
 End Error page
================================*/


/*==============================
 Pie chart with SVG
================================*/

.pie {
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
}

svg {
  background: #fff;
  border-radius: 50%;
}

circle {
  fill: #fff;
  stroke: #424A5D;
  stroke-width: 32;
}

/*==============================
 Dashborad
================================*/

.dash-container {
  background-color: #f2f2f2;
}
.dash-user {
  display: -ms-flexbox;
  display: inline-flex;
  display: -webkit-inline-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  /*color: #efefef;*/
  color: #202022;
  padding-top: 15px;
}

.user-name {
  flex: 1 100%;
  text-align: center;
  justify-content: center;
}

.home-button {
  justify-content: flex-start;
}

.home-button > a > i.fa-home {
  color: #E4AD28;
  font-size: 1.5em;
  padding-left: 10px;
}

.user-pic {
  justify-content: flex-end;
}

.user-name h1 {
  font-weight: 600;
}

.summary {
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 50px 0;
  color: #202022;
}

.summary .box {
  border: 3px solid #9DAD59;
  flex: 0 0 15%;
  text-align: center;
  padding:10px;
}

.summary .box p {
  font-weight: 600;
}

.summary .box:nth-child(1), .summary .box:nth-child(2), .summary .box:nth-child(3){
  border-right: none;
}

.wrapper-list {
  display: flex;
  flex-flow: row wrap;
  background-color: inherit;
  width: 100%;
  align-items: center;
}

.submitted-list, .phone-screen-list, .interview-list, .placement-list {
  display: inline-flex;
  flex-flow: row wrap;
  flex: 2 1 80%;
  margin: 10px 0;
  color: #202022;
  /*0.28 opacity for border-bottom*/
  border-bottom: 1px solid #9DAD59;
  justify-content:flex-start;
  min-height: 150px;
}

.submitted-list .contact, .phone-screen-list .contact, .interview-list .contact, .placement-list .contact {
  text-align: center;
  margin-left: 20px;
  max-width: 120px;
  padding-bottom: 0.8em;
}

.contact > a > img {
  text-decoration: none;
  width: 120px;
  border-radius: 50%;
}

.contact p > a {
  padding: 5px;
  color: #202022;
}
.aside-submitted, .aside-phone-screen, .aside-interview, .aside-placement {
  flex: 0 0 20%;
  text-align: center;
  color: #202022;
  font-weight: bold;
}

/*==============================
 End Dashboard
================================*/

/*==============================
 Client
================================*/
.clients-job-wrapper {
  margin-top: 80px;
}

.clients-job-wrapper span {
  color: #4E4D4A;
}

.client-job-contact-content {
  float: right;
  margin-right: 5%;
}

.client-job-contact-content h4 {
  padding-bottom: 5px;
}

.create-right, .job-contact {
  float: right;
}

.client-job-main-content, .job-info {
  float: left;
}

.client-job-main-content {
  width: 60%;
}

.client-job-info > img, .client-job-main-content > ul >img {
  float: left;
  width: 140px;
  margin-right: 10px;
}

.job-info {
  width: 75%;
  margin-right: 30px;
}

.job-contact {
  width: 20%;
}

.job-clear {
  margin: 0 auto;
  width: 60%;
}

.job-clear span {
  color: black;
}

.job-clear ul {
  list-style-type: square;
}

.job-clear h2 {
  font-weight: bold;
}

.create-icon {
  background-color: #424A5D;
  padding: 10px;
  color: #E4AD28; 
  position: fixed;
  right: 5%;
  top: 80px;
}

.create-icon:hover, .edit-client:hover, .submit-client:hover {
  background-color: #E4AD28;
  color: #424A5D;
}

.edit-client {
  background-color: #424A5D;
  padding: 10px 70px;
  color: #E4AD28;
}

.submit-client {
  border: 1px solid #efefef;
  background-color: #424A5D;
  padding: 10px 30px;
  margin-top: 10px;
  color: #E4AD28;
}
.client-job-details {
  margin: 20px auto;
  width: 60%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.client-job-info {
  flex: 6 2;
}

.client-info-create > input[type=hidden], input[type=text], select, label, option{
  width: 100%;
  margin: 5px;
}

.client-info-create > select {
  margin: 5px;
}

.client-info-create {
  float: left;
  width: 65%;
}

.job-create-right {
  float: right;
  width: 45%;
  margin-top: -4px;
}

.job-create-left {
  float: left;
  width: 50%;
}

.client-key-contact-create > input[type=text]  {
  width: 100%;
}

.client-key-contact-create {
  float: right;
  width: 30%;
}

.job-create-clear {
  clear:both;
  width: 100%;
  padding-top: 10px;
}

.job-create-clear textarea {
  width: 100%;
}

.job-create-clear input {
  width: 100% !important;
}

.vacancy-wrapper hr {
  margin-top: 20px;
}

.vacancy-wrapper .description, .client-job-details .description, .job-clear .description{
  color: #818182;
  font-weight: bold;
  padding: 5px 0 10px 0;
}

.active-span {
  background-color: #B2C462;
  color: #fff !important;
  padding: 2px 10px;
}

.inactive-span {
  background-color: #C77E7E;
  color: #fff !important;
  padding: 2px 10px;
}

/*==============================
 End Client
================================*/

/*==============================
 Jobs
================================*/

#corner-initials {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 6px;
  color: #fff;
  background-color: #424A5D;
}

.job-right {
  margin-right: 10%;
}

.job-image {
  width: 300px;
  height: 200px;
}

.job-img {
  display:inline;
}

.submit-job {
  text-align: center;
  margin: auto;
  padding: 10px 60px;
  margin-top: 20px;
}

.candidate-list img {
  text-decoration: none;
  width: 120px;
  border-radius: 50%;
  float: left;
}

.candidate-list {
  text-align: center;
  margin-top: 20px;
  max-width: 120px;
  padding-bottom: 0.8em;
}

/*==============================
 End Jobs
================================*/

/*==============================
 Email
================================*/
.send-email-form > button{
  float: right;
  margin-top: -35px;
  background-color: #424A5D;
  color: #FFD777;
  border: none;
  padding: 5px 10px;
}

.email-wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.email-wrapper > * {
  padding: 30px;
  flex: 1 100%;
}

.email-wrapper .email-main {
  text-align: left;
  width: 60%;
}

.email-main > div, .email-main form, .email-main form > div > ul {
  display: -webkit-flex;
  display: flex;
}

.email-main > div {
  align-items: center;
}

.email-main > div > img {
  padding: 0 20px 0 0 ;
}

.email-main form > div > ul {
  flex-wrap: wrap;
}

.email-main form {
  margin-top: 10px;
}

.email-main form > div > ul > * {
  border: 1px solid rgba(242, 192, 80, 0.55);
  padding: 5px;
  background-color: #fff;
  margin-left: 1px;
  color: #4E4C4A;
}

.email-main form > div, .email-main input, .email-main textarea {
  width: 100%;
  font-family: inherit;
}

.email-main input[type=text],
.email-main textarea, .email-main button {
  border: 1px solid #efefef;
  background-color: #fff;
  padding: 10px;
  margin-top: 10px;
}

.email-main ::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.63);
}

.email-main ::-moz-placeholder {
  color: rgba(128, 128, 128, 0.63);
} /* firefox 19+ */

.email-main :-ms-input-placeholder {
  color: rgba(128, 128, 128, 0.63);
} /* ie */

.email-main input:-moz-placeholder {
  color: rgba(128, 128, 128, 0.63);
}

.email-main input[type="text"]:focus, .email-main textarea:focus, .email-main select:focus {
  -moz-box-shadow: 0 0 2px rgba(242, 192, 80, 0.55);
  -webkit-box-shadow: 0 0 2px rgba(242, 192, 80, 0.55);
  box-shadow: 0 0 2px rgba(242, 192, 80, 0.55);
  border: 1px solid rgba(242, 192, 80, 0.55);
}

.email-main button {
  width: 20%;
  background-color: #FFD777;
  color: #424A5D;
  cursor: pointer;
  /*border: 1px solid #f2c050;*/
}

.email-main button:hover {
  background-color: #424A5D;
  color: #FFD777;
/*  border: 1px solid #f2c050;*/
}

.email-wrapper .email-aside-1 {
}

.email-wrapper .email-aside-2 {
}

.email-wrapper .email-aside {
  flex: 1 20%;
}

.email-wrapper .email-main {
  flex: 3 auto;
}

.email-wrapper .email-aside-1 {
  order: 1;
}

.email-wrapper .email-main {
  order: 2;
}

.email-wrapper .email-aside-2 {
  order: 3;
}

.signature {
  background-color: #fff;
  margin-top: 10px;
}
/*==============================
 End Email
================================*/
/*==============================
Analytics
================================*/

.analytics-header {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: rgba(177, 183, 185, 0.62);
  color: #202022;
  font-weight: bold;
}

.analytics-data {
  display: flex;
}

.analytics-data-cell {
  flex: 1;
}

.cell {
  display: table-cell;
  height: 3rem;
  vertical-align: middle;
}


/*==============================
 End Analytics
================================*/

/*==============================
Vacancy
================================*/
.vacancy-wrapper {
  margin-bottom: 50px;
}

.vacancy-wrapper form > div {
  background-color: transparent;
  margin: 0 auto;
  width: 60%;
  justify-content: center;
}

.vacancy-wrapper form div > p {
  display: flex;
  display: -ms-flexbox;
}

.vacancy-wrapper form input, .vacancy-wrapper form select {
  width: 80%;
}

.vacancy-wrapper form label {
  width: 10em;
  margin: 0.5em;
  text-align: right;
}

#create-vacancy input[type=text],
#create-vacancy select,
#create-vacancy input[type=number],
#create-vacancy input[type=date],
#create-vacancy textarea {
  padding: 6px 8px;
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*==============================
 End Vacancy
================================*/

@media (max-width: 768px) {
  #filter {
    -webkit-appearance: none;
    }
}

@media (max-width: 320px) {
  #search-box {
    width:140px;
    }
}
