<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/assets/css/lineicons/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/general.css" media="screen, handheld" />
  <link rel="stylesheet" type="text/css" href="/assets/css/mobile-first.css" media="screen, handheld" />
  <link rel="stylesheet" type="text/css" href="/assets/css/enhanced.css" media="screen  and (min-width: 48em)" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
  {{{content}}}
</body>
</html>